{
  "presets": [
    "es2015",
    "es2017"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "add-module-exports",
    "transform-es2015-modules-commonjs",
    "dynamic-import-node",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "lib": "./lib"
      }
    }],
    "syntax-flow",
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ],
  "env": {
    "production": {
      "ignore": [
        "**/*.test.js"
      ]
    }
  }
}
